<feed>
  <entry>
    <title><%= entry.title %></title>
    <content type="html"><%= entry.content %></content>
    <id><%= entry.id %></id>
    <published><%= entry.published %></published>
    <updated  ><%= entry.updated   %></updated>
    <link type="text/html"   rel="alternate" href="<%= entry.link_alt %>"/>
    <link type="image/pjpeg" rel="icon"      href="<%= entry.link_icon %>"/>
    <author>
      <name><%= entry.author.name %></name>
      <uri><%=  entry.author.uri %></uri>
    </author>
    <activity:verb><%= entry.activity_verb %></activity:verb>
    <activity:object>
      <id><%= entry.obj.id %></id>
      <title><%= entry.obj.title %></title>
      <link type="text/html" rel="alternate" href="<%= entry.obj.link_alt %>"/>
      <published><%= entry.obj.published %></published>
      <updated  ><%= entry.obj.updated %></updated>
      <author>
        <name><%= entry.obj.author.name %></name>
        <uri ><%= entry.obj.author.uri  %></uri>
      </author>
    </activity:object>
  </entry>
</feed>
